body {
    background-color: #F5F5F5;
}

/* .btn,
.rounded,
.badge {
    border-radius: 14px !important;
} */

.btn:focus {
    box-shadow: none !important;
}

.bg-yams {
    background-color: #3242C5 !important;
    color: #fff;
}

.text-yams {
    color: #3242C5;
}

.non_lu {
    background-color: #dad8d869 !important;
}


/* buttons */

.btn-yams {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid #938F8F;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 12px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:focus {
    box-shadow: none !important;
}


/* fin buttons */

.dashboard {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    opacity: 1;
}

.sidebar {
    left: 0;
    bottom: 0;
    /* margin-top: 10vh; */
    width: 80px;
    max-width: 80px;
    background: #0C266C 0% 0% no-repeat padding-box;
    z-index: 1000;
}

.sidebar-container {
    height: 100%;
    display: grid;
    position: fixed;
    color: #fff;
}

.sidebar-container a:hover {
    background-color: #3242C5;
}

.sidebar-container a:hover img,
i {
    transform: scale(1.2);
}

.sidebar-container .active {
    background-color: #3242C5;
}

.sidebar-container .active img,
i {
    transform: scale(1.2);
}

.sidebar-container li a {
    width: 100%;
    height: 100%;
}

.sidebar-container img {
    width: 30px;
}


/* navigation */

#navbarys {
    top: 0;
    left: 0;
    margin: 0;
    bottom: 0;
    padding: 0;
    height: 80px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.navys {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.page-nav {
    border: 1px solid #938F8F;
    border-radius: 12px;
    margin: 2px;
}

.page-nav .active {
    border: 1px solid #938F8F;
    border-radius: 12px;
    background-color: #ffffff;
    color: #3242C5;
}

.navys-link {
    display: block;
    padding: 20px 0;
}

.navys-link img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* footer */

#footer {
    position: fixed;
    margin-left: 80px;
    margin-top: 90vh;
    bottom: 0;
    right: 0;
    width: calc(100% - 80px);
    height: 40px;
    z-index: 1000;
    background-color: #fff;
}


/* page content */

#contentys {
    margin-top: 80px;
    margin-left: 80px;
    width: calc(100% - 80px);
    height: calc(90% - 40px);
    margin-bottom: 50px;
}

.header-contentys,
.body-contentys {
    margin-left: 20px;
}

.header-contentys .btn-active:hover {
    background-color: #3242C5;
    color: #ffff;
}

#rows_counter {
    background-color: #3242C5;
    color: #ffff;
}

#rows_counter:hover,
#grid_card:hover {
    background-color: #0C266C !important;
}


/* overlay loader */

.overlay {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background: #ffffffde;
    opacity: 1;
    z-index: 10000;
    backdrop-filter: blur(10px);
    overflow: hidden;
}

.overlay__inner {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.overlay__content {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.spinner {
    width: 75px;
    height: 75px;
    display: inline-block;
    border-width: 5px;
    border-color: rgba(255, 255, 255, 0.05);
    border-top-color: #3142C5;
    animation: spin 1s infinite linear;
    border-radius: 100%;
    border-style: solid;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}


/* modal */

.modal-dialog {
    height: 0px;
}

.modal-content {
    height: 50vh;
    max-height: 100%;
    overflow-y: auto;
}

.non_lu {
    background-color: #dad8d8;
}

textarea {
    resize: none;
}

.fullscreen-modal {
    --height: 100%;
    --width: 100%;
    --max-height: 100%;
    --max-width: 100%;
    --border-radius: 0;
  }
